html {
  width: 99.7%;
}

body {
  background-color: #440047;
}

.introduction {
  width: 100vw;
  margin-top: 150px;
}

main {
  width: 100%;
  margin-top: 100px;
  color: #fbecec;
}

h1 {
  font-size: 42px;
  font-family: 'Unica One', cursive;
  text-align: center;
  margin: 40px 0;
}

h2 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
  color: #91d18b;
}

ul ,li {
  font-family: 'Poppins', sans-serif;
}

li + li {
  margin-top: 10px;
}

blockquote {
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 42px;
  font-family: 'Unica One', cursive;
}

a {
  font-family: 'Poppins', sans-serif;
  color: #02e76e;
}

.image-wrapper {
  text-align: center;
}

.content-wrapper {
  width: 720px;
  margin: 0 auto;
  padding-bottom: 300px;
}

.content-wrapper p {
  font-family: 'Poppins', sans-serif;
}

/* Responsividade */

@media (max-width: 600px) {
  .introduction {
    padding-left: 0vw;
  }

  .content-wrapper {
    width: 300px;
  }

  .content-wrapper p {
    font-size: 22px;
  }

  .image-wrapper img{
    width: 100%;
    margin: 40px 0;
  }

  main {
    /* width: 140%; */
  }

  ul, li {
    font-size: 20px;
  }
}

/* Cores */

.purple {
  color: #9f20f3;
}

.salmão {
  color: #ca5e61;
}

.azul-bb {
  color: #20b3eb;
}

.green {
  color: #02e76e;
}

.red {
  color: #f50b38;
}

.yellow {
  color: #fe9534;
}